html,
body {
  background-color: #fefefe;
}

@media (max-width: 767px) {
    .top-bar .menu {
      display: none;
    }
  
    .top-bar .menu.expanded {
      display: block;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        color: black !important;
      }
  }  

.topbar {
  width: 100%;
}

.topbar-center-logo {
  padding-top: 1rem;
  background: #ffffff;
  display: flex;
  text-align: center;
}

.topbar-center-logo .menu {
  background: #ffffff;
}

.topbar-center-logo .menu a {
  color: #000000;
  padding: 20px;
  font-weight: 500;
}

.topbar-center-logo .menu a:hover {
  color: #3e4095;
  text-decoration: underline #3e4095;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.eggLogo {
  max-height: 150px;
  max-width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -20%);
  padding-top: 5px;
}

.social-footer {
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: #3e4095;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.logo {
  color: #fefefe !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.big-logo {
  max-height: 500px;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50%);
}

.showcase {
  max-height: 600px;
  width: 100%;
  opacity: 0.7;
}

.welcome {
  font-family: "Bebas Neue", cursive;
  font-size: 85px;
  text-shadow: #3e4095 -4px 1px 5px, #3e4095 -5px 2px 3px, #3e4095 -5px 2px 3px,
    #7d7ea7 2px 3px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefefe;
}

.desc {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  text-align: center;
  text-shadow: #3e4095 -2px 1px 3px, #3e4095 -3px 2px 3px, #ff8534 -2px 1px 4px,
    #fab587 2px 2px 4px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefefe;
}

.space {
  height: 400px;
}

.view-menu {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 1.75px solid #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.view-menu:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #3e4095;
  z-index: -1;
}

.view-menu:hover,
.view-menu:focus {
  color: white;
}

.view-menu:hover:before,
.view-menu:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.find-location {
  margin: auto;
  width: 100%;
  height: 20px;
  background-color: #3e4095;
  text-align: center;
  color: white;
}

.location-img {
  max-width: 300px;
  max-height: 300px;
  padding: 8px;
}

@media screen and (max-width: 900px) {
    .contact-us-section {
        display:block !important;
    }
}

.contact-us-section {
  padding: 2rem;
  background: #fefefe;
  display: flex;
}

.contact-us-section .contact-us-section-left {
  padding-right: 2rem;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-left {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.contact-us-section .contact-us-header {
  margin-bottom: 2rem;

  text-align: center;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
  .contact-us-section .contact-us-header {
    font-size: 32px;
  }
}

.contact-us-section .responsive-embed {
  margin-bottom: 0;
}

.locations {
  text-align: center;
}

.row {
  display: flex;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="hours"],
.contact-us-form textarea {
  margin-bottom: 1.5rem;
}

.contact-us-form-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-us-form-actions input[type="submit"] {
  border-radius: 5000px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-us-form-actions .contact-us-file-button {
  background: transparent;
  color: #8a8a8a;
}

.contact-us-list {
  list-style-type: none;
  margin: 0;
}

.contact-us-list li a {
  color: #0a0a0a;
}


/* Buttons_____________
/* 
.selection {
    width:100%;
    text-align:center;
    display: flex;
    padding-top: 150px;
    list-style: none;
    justify-content: center;
}

li {
    padding: 8px;
}


button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #d8a20f 0%, #f9b247 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   } */
